<section id="city">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{name}}</h2>
                <hr class="star-primary">
            </div>
            <div class="col-md-8 col-md-offset-2 text-center">
                <img src="{{image}}" class="img-responsive img-centered" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {{#if description}}
                    <p>{{description}}</p>
                {{else}}
                    <p>Imagine what could happen if we gathered 500 entrepreneurially-minded Latinxs and allies over 54 hours, in 5 different cities, to identify and design technology solutions to problems disproportionately facing the U.S. Latinx community? What if we facilitated mentorship by some of the most talented technologists, business innovators, and prominent investors.</p>
                {{/if}}
                <ul class="list-inline item-details">
                    <li>Event details and RSVP:
                        <strong><a href="{{url}}" target="_blank">{{url_name}}</a>
                        </strong>
                    </li>
                    <li>Date:
                        <strong>Sep 29, 2017</strong>
                    </li>
                    {{#if contact}}
                    <li>Contact:
                        <strong> {{contact}}</strong>
                    </li>
                    {{/if}}
                    <li>Location:
                        <strong><a href="{{location_url}}">{{location_name}}</a></strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

