<header style="background: white;">
    <!--background-image: url(/images/homepage.png?v=12); background-position: center center; background-size: cover;">
    -->
    <div class="container" id="maincontent" tabindex="-1" style="">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="/images/startupweekend-logo-transparent-new.png" alt="">
                <div class="intro-text">
                    <h1 class="name">{{#if page.name}}{{page.name}}{{^}}SW Latinx in Tech{{/if}}</h1>
                    <!--<hr class="star-light">-->
                    <p class="skills">{{#if page.description}}{{page.description}}{{^}}{{site.description}}{{/if}}</p>
                    <p>We’re gathering 500 Latinx entrepreneurs in the making and allies over 54 hours, in 5 different cities, 1 weekend to identify and design technology solutions to problems disproportionately facing the U.S. Latinx community. Please join us September 29th- October 1st for Techstars Startup Weekend Oakland, Chicago, Miami, NYC, & LA.</p>
                    <p class="text-center">
			    {{#each data.cities}}
                        	<a href="{{eventbrite_url}}" target="_blank">{{name}}</a> |
			    {{/each}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

